Objectness BING/BingObjectnessCVPR14/Objectness.sdf
Objectness BING/BingObjectnessCVPR14/ipch/*
.*
*.asv
Objects Recognition/ObjVSNoObj SVM/*/*.mat
*.log
*.obj
*~
*.caffemodel
Objectness Ferrari/objectness-release-v2.2/Data/params.mat
